<div id="currency-modal" class="modal">
  <div class="modal-content">
    <div style="width: 100%">
      <span class="close"
        ><lord-icon
          src="https://cdn.lordicon.com/nqtddedc.json"
          trigger="hover"
          state="hover-cross-3"
        >
        </lord-icon
      ></span>
      <p id="curr-head">Currency</p>
    </div>
    <div class="currency-tabs">
      <div class="currency-tab" data-currency="INR">
        Indian Rupee <br />
        <span class="symbol">INR – ₹</span>
      </div>
      <div class="currency-tab" data-currency="AUD">
        Australian Dollar <br />
        <span class="symbol">AUD – $</span>
      </div>
      <div class="currency-tab" data-currency="BRL">
        Brazilian Real <br />
        <span class="symbol">BRL – R$</span>
      </div>
      <div class="currency-tab" data-currency="BGN">
        Bulgarian Lev <br />
        <span class="symbol">BGN – лв.</span>
      </div>
      <div class="currency-tab" data-currency="CAD">
        Canadian Dollar <br />
        <span class="symbol">CAD – $</span>
      </div>
      <div class="currency-tab" data-currency="CLP">
        Chilean Peso <br />
        <span class="symbol">CLP – $</span>
      </div>
      <div class="currency-tab" data-currency="CNY">
        Chinese Yuan <br />
        <span class="symbol">CNY – ￥</span>
      </div>
      <div class="currency-tab" data-currency="COP">
        Colombian Peso <br />
        <span class="symbol">COP – $</span>
      </div>
      <div class="currency-tab" data-currency="CRC">
        Costa Rican Colon <br />
        <span class="symbol">CRC – ₡</span>
      </div>
      <div class="currency-tab" data-currency="HRK">
        Croatian Kuna <br />
        <span class="symbol">HRK – kn</span>
      </div>
      <div class="currency-tab" data-currency="CZK">
        Czech Koruna <br />
        <span class="symbol">CZK – Kč</span>
      </div>
      <div class="currency-tab" data-currency="DKK">
        Danish Krone <br />
        <span class="symbol">DKK – kr</span>
      </div>
      <div class="currency-tab" data-currency="AED">
        Emirati Dirham <br />
        <span class="symbol">AED – ﺩ.ﺇ</span>
      </div>
      <div class="currency-tab" data-currency="EUR">
        Euro <br />
        <span class="symbol">EUR – €</span>
      </div>
      <div class="currency-tab" data-currency="HKD">
        Hong Kong Dollar <br />
        <span class="symbol">HKD – $</span>
      </div>
      <div class="currency-tab" data-currency="HUF">
        Hungarian Forint <br />
        <span class="symbol">HUF – Ft</span>
      </div>
      <div class="currency-tab" data-currency="IDR">
        Indonesian Rupiah <br />
        <span class="symbol">IDR – Rp</span>
      </div>
      <div class="currency-tab" data-currency="ILS">
        Israeli New Shekel <br />
        <span class="symbol">ILS – ₪</span>
      </div>
      <div class="currency-tab" data-currency="JPY">
        Japanese Yen <br />
        <span class="symbol">JPY – ¥</span>
      </div>
      <div class="currency-tab" data-currency="MYR">
        Malaysian Ringgit <br />
        <span class="symbol">MYR – RM</span>
      </div>
      <div class="currency-tab" data-currency="MXN">
        Mexican Peso <br />
        <span class="symbol">MXN – $</span>
      </div>
      <div class="currency-tab" data-currency="MAD">
        Moroccan Dirham <br />
        <span class="symbol">MAD</span>
      </div>
      <div class="currency-tab" data-currency="TWD">
        New Taiwan Dollar <br />
        <span class="symbol">TWD – $</span>
      </div>
      <div class="currency-tab" data-currency="NZD">
        New Zealand Dollar <br />
        <span class="symbol">NZD – $</span>
      </div>
      <div class="currency-tab" data-currency="NOK">
        Norwegian Krone <br />
        <span class="symbol">NOK – kr</span>
      </div>
      <div class="currency-tab" data-currency="PEN">
        Peruvian Sol <br />
        <span class="symbol">PEN – S/</span>
      </div>
      <div class="currency-tab" data-currency="PHP">
        Philippine Peso <br />
        <span class="symbol">PHP – ₱</span>
      </div>
      <div class="currency-tab" data-currency="PLN">
        Polish Zloty <br />
        <span class="symbol">PLN – zł</span>
      </div>
      <div class="currency-tab" data-currency="GBP">
        Pound Sterling <br />
        <span class="symbol">GBP – £</span>
      </div>
      <div class="currency-tab" data-currency="RON">
        Romanian Leu <br />
        <span class="symbol">RON – lei</span>
      </div>
      <div class="currency-tab" data-currency="SAR">
        Saudi Arabian Riyal <br />
        <span class="symbol">SAR – SR</span>
      </div>
      <div class="currency-tab" data-currency="SGD">
        Singapore Dollar <br />
        <span class="symbol">SGD – $</span>
      </div>
      <div class="currency-tab" data-currency="ZAR">
        South African Rand <br />
        <span class="symbol">ZAR – R</span>
      </div>
      <div class="currency-tab" data-currency="KRW">
        South Korean Won <br />
        <span class="symbol">KRW – ₩</span>
      </div>
      <div class="currency-tab" data-currency="SEK">
        Swedish Krona <br />
        <span class="symbol">SEK – kr</span>
      </div>
      <div class="currency-tab" data-currency="CHF">
        Swiss Franc <br />
        <span class="symbol">CHF</span>
      </div>
      <div class="currency-tab" data-currency="THB">
        Thai Baht <br />
        <span class="symbol">THB – ฿</span>
      </div>
      <div class="currency-tab" data-currency="TRY">
        Turkish Lira <br />
        <span class="symbol">TRY – ₺</span>
      </div>
      <div class="currency-tab" data-currency="USD">
        United States Dollar <br />
        <span class="symbol">USD – $</span>
      </div>
      <div class="currency-tab" data-currency="UYU">
        Uruguayan Peso <br />
        <span class="symbol">UYU – $U</span>
      </div>
    </div>
  </div>
</div>
