<%# Flash messages are seeded as data nodes and hydrated into toasts by toast.js %>
<% if (successMsg && successMsg.length) { %>
  <% successMsg.forEach(function (msg) { %>
    <span data-toast data-toast-type="success" data-toast-message="<%= msg %>" hidden></span>
  <% }) %>
<% } %>
<% if (errorMsg && errorMsg.length) { %>
  <% errorMsg.forEach(function (msg) { %>
    <span data-toast data-toast-type="error" data-toast-message="<%= msg %>" hidden></span>
  <% }) %>
<% } %>
<% if (updateMsg && updateMsg.length) { %>
  <% updateMsg.forEach(function (msg) { %>
    <span data-toast data-toast-type="info" data-toast-message="<%= msg %>" hidden></span>
  <% }) %>
<% } %>
