<link rel="stylesheet" href="/css/nav.css" />
<nav
  class="navbar navbar-expand-md bg-body-light border-bottom sticky-top"
  id="nav"
  style="display: flex;"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-regular fa-compass"></i
    ></a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      
          <a class="nav-link" href="/listings"><strong>Explore</strong>
          </a>
      
    </div>

    <div class="searchBox">
      <input class="searchInput" type="text" name="" placeholder="Search Title" />
      <button class="searchButton" href="#">
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
          src="https://cdn.lordicon.com/kkvxgpti.json"
          trigger="hover"
          colors="primary:#ffffff"
          style="width: 1.25rem; height: 1.25rem"
        >
        </lord-icon>
      </button>
    </div>

    <div class="navbar-nav nav-side">
      <a class="nav-link" href="/listings/new" id="new-airbnb"
        >Airbnb your home</a
      >
      <span class="material-symbols-outlined" id="globe"> language </span>

      <div class="user-btn">
        <label class="containers">
          <input type="checkbox" id="check-div" role="switch" />
          <div class="checkmark">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </label>
        <i id="user-initial">S</i>
      </div>
    </div>
  </div>
</nav>

<div class="user-toggle">
  <% if(!currUser){%>
  <a class="nav-link" href="/signup">Sign Up</a>
  <a class="nav-link" href="/login">Log In</a>
  <%} %> <% if(currUser){%>
  <a class="nav-link" href="/logout">Log Out</a>

  <%} %>
</div>

<script>
  let toggleDiv = document.querySelector(".user-toggle");
  let toggleButton = document.querySelector("#check-div");
  toggleButton.addEventListener("change", () => {
    if (toggleButton.checked) {
      toggleDiv.style.display = "inline-flex";
    } else {
      toggleDiv.style.display = "none";
    }
  });
</script>
