<nav class="navbar mb-4 navbar-expand-md nav-below-b">
  <div class="nav-below col-12">
    <button id="scroll-left" class="scroll-button">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <div id="filters">
      <div class="filter">
        <a href="/filter/trending">
          <div><img src="/Assets/fire.png" alt="" class="filter-img" /></div>
          <p>Trending</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/Beach">
          <div><img src="/Assets/chair.png" alt="" class="filter-img" /></div>
          <p>Beach</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/Arctic">
          <div>
            <img src="/Assets/snowflake.png" alt="" class="filter-img" />
          </div>
          <p>Arctic</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/outside">
          <div>
            <img src="/Assets/nature-park.png" alt="" class="filter-img" />
          </div>
          <p>Outside</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/Iconic-city">
          <div>
            <img src="/Assets/building-icon.png" alt="" class="filter-img" />
          </div>
          <p>City</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/Castles">
          <div><img src="/Assets/castle.png" alt="" class="filter-img" /></div>
          <p>Castles</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/Pool">
          <div>
            <img src="/Assets/swimming-pool.png" alt="" class="filter-img" />
          </div>
          <p>Pool</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/camping">
          <div><img src="/Assets/camping.png" alt="" class="filter-img" /></div>
          <p>Camping</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/cabin">
          <div><img src="/Assets/cabin.png" alt="" class="filter-img" /></div>
          <p>Cabin</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/farms">
          <div><img src="/Assets/barn.png" alt="" class="filter-img" /></div>
          <p>Farms</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/mountain">
          <div>
            <img src="/Assets/mountain.png" alt="" class="filter-img" />
          </div>
          <p>Mountain</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/domes">
          <div><img src="/Assets/aviary.png" alt="" class="filter-img" /></div>
          <p>Domes</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/boats">
          <div><img src="/Assets/cruise.png" alt="" class="filter-img" /></div>
          <p>Boats</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/tropical">
          <div><img src="/Assets/beach.png" alt="" class="filter-img" /></div>
          <p>Tropical</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/windmill">
          <div>
            <img src="/Assets/windmill.png" alt="" class="filter-img" />
          </div>
          <p>Windmill</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/ski">
          <div><img src="/Assets/alpine.png" alt="" class="filter-img" /></div>
          <p>Ski</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/chef">
          <div><img src="/Assets/chef.png" alt="" class="filter-img" /></div>
          <p>Chef</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/Disabled">
          <div>
            <img src="/Assets/disabled-people.png" alt="" class="filter-img" />
          </div>
          <p>Disabled</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/play">
          <div><img src="/Assets/tennis.png" alt="" class="filter-img" /></div>
          <p>Play</p>
        </a>
      </div>
    </div>
    <button id="scroll-right" class="scroll-button">
      <i class="fa-solid fa-angle-right"></i>
    </button>
    <div class="tax-toggle">
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Display total after taxes</label
      >
      <div class="form-check-reverse form-switch switch-container">
        <label class="switch">
          <input
            type="checkbox"
            role="switch"
            id="flexSwitchCheck"
          />
          <span class="slider">
            <svg
              class="slider-icon"
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
            >
              <path fill="none" d="m4 16.5 8 8 16-16"></path>
            </svg>
          </span>
        </label>
      </div>
    </div>
  </div>
</nav>
