<link rel="stylesheet" href="/css/index.css" />

<nav class="navbar mb-4 navbar-expand-md nav-below-b">
  <div class="nav-below col-12">
    <button id="scroll-left" class="scroll-button">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <div id="filters">
      <div
        class="filter <%= currPage === '/filter/trending' ? 'below-nav' : '' %>"
      >
        <a href="/filter/trending">
          <div>
            <img
              src="/Assets/fire.png"
              alt="Trending"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Trending</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/Beach">
          <div>
            <img
              src="/Assets/chair.png"
              alt="Beach"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Beach</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/Arctic">
          <div>
            <img
              src="/Assets/snowflake.png"
              alt="Arctic"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Arctic</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/outside">
          <div>
            <img
              src="/Assets/nature-park.png"
              alt="Outside"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Outside</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/Iconic-city">
          <div>
            <img
              src="/Assets/building-icon.png"
              alt="City"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>City</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/Castles">
          <div>
            <img
              src="/Assets/castle.png"
              alt="Castles"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Castles</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/Pool">
          <div>
            <img
              src="/Assets/swimming-pool.png"
              alt="Pool"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Pool</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/camping">
          <div>
            <img
              src="/Assets/camping.png"
              alt="Camping"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Camping</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/cabin">
          <div>
            <img
              src="/Assets/cabin.png"
              alt="Cabin"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Cabin</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/farms">
          <div>
            <img
              src="/Assets/barn.png"
              alt="Farms"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Farms</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/mountain">
          <div>
            <img
              src="/Assets/mountain.png"
              alt="Mountain"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Mountain</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/domes">
          <div>
            <img
              src="/Assets/aviary.png"
              alt="Domes"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Domes</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/boats">
          <div>
            <img
              src="/Assets/cruise.png"
              alt="Boats"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Boats</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/tropical">
          <div>
            <img
              src="/Assets/beach.png"
              alt="Tropical"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Tropical</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/windmill">
          <div>
            <img
              src="/Assets/windmill.png"
              alt="Windmill"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Windmill</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/ski">
          <div>
            <img
              src="/Assets/alpine.png"
              alt="Ski"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Ski</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/chef">
          <div>
            <img
              src="/Assets/chef.png"
              alt="Chef"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Chef</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/Disabled">
          <div>
            <img
              src="/Assets/disabled-people.png"
              alt="Disabled"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Disabled</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/play">
          <div>
            <img
              src="/Assets/tennis.png"
              alt="Play"
              loading="lazy"
              class="filter-img"
            />
          </div>
          <p>Play</p>
        </a>
      </div>
    </div>
    <button id="scroll-right" class="scroll-button">
      <i class="fa-solid fa-angle-right"></i>
    </button>

    <div id="filter-tab">
      <i class="fa-solid fa-sliders"></i>
      <span>Filter</span>
    </div>

    <div class="tax-toggle">
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Display total after taxes</label
      >
      <div class="form-check-reverse form-switch switch-container">
        <label class="switch">
          <input type="checkbox" role="switch" id="flexSwitchCheck" />
          <span class="slider">
            <svg
              class="slider-icon"
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
            >
              <path fill="none" d="m4 16.5 8 8 16-16"></path>
            </svg>
          </span>
        </label>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const filters = document.querySelectorAll(".filter");
    const currentPath = window.location.pathname;

    filters.forEach((filter) => {
      const link = filter.querySelector("a");
      if (link.getAttribute("href") === currentPath) {
        filter.classList.add("below-nav");
      }
    });
  });
  document.getElementById("filter-tab").addEventListener("click", () => {
    document.getElementById("modal").style.display = "block";
  });
</script>
