#select-styling {
  border: 1.5px solid #22222276;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  color: gray;
  background-color: inherit;
}

.select-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#label {
  margin-bottom: 0.45rem;
}
