<% layout("layouts/boilerplate") -%>

<style>
  @media only screen and (max-width: 400px) {
    .edit-button {
      width: 100% !important;
      padding-block: 0.75rem;
    }

    .extra a {
      display: none;
    }
  }
</style>

<div class="row mt-3">
  <div class="col-12 col-md-6 offset-md-3 mb-4">
    <h2 class="mb-4" id="form-head">Join WanderLust Today</h2>
    <form action="/signup" method="POST" novalidate class="needs-validation">
      <div class="form-floating mb-4">
        <input
          type="text"
          class="form-control"
          id="floatingPassword"
          placeholder="Username"
          id="username"
          name="username"
          required
        />
        <label for="floatingPassword">Username</label>
      </div>

      <div class="form-floating mb-4">
        <input
          type="email"
          class="form-control"
          id="floatingPassword"
          name="email"
          placeholder="name@gmail.com"
          required
        />
        <label for="floatingPassword">E-mail</label>
      </div>

      <div class="form-floating mb-4">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          name="password"
          required
        />
        <label for="floatingPassword">Password</label>
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="extra">
        <button class="btn mt-2 edit-button"><span>SignUp</span></button>
        <a href="/signup"> Already have an account? Log in</a>
      </div>
    </form>
  </div>
</div>
